@import "tailwindcss";

.primary-button {
  @apply px-6 py-3 bg-linear-to-r from-[#17a05d] to-[#0ac96d] rounded hover:from-[#0ac96d] hover:to-[#17a05d] cursor-pointer font-medium text-white shadow-lg shadow-[#0ac96d]/20 ring-1 ring-white/10 focus:outline-none focus-visible:ring-2 focus-visible:ring-[#0ac96d] transition duration-200 flex items-center gap-2 text-center justify-center;
}

.green-gradient {
  @apply bg-linear-to-r from-[#17a05d] to-[#0ac96d];
}

::-webkit-scrollbar {
  display: none;
}

:disabled {
  @apply opacity-50 cursor-not-allowed;
}
